
@model BikeShop.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.ProductName</h2>
<table class="table table-bordered table-hover">
    <tr>
        <td>Category:</td>
        <td>@Model.Category.CategoryName</td>

    </tr>
    <tr>
        <td>Stock:</td>
        <td>@Model.Stock</td>

    </tr>
    <tr>
        <td>Price:</td>
        <td>@Model.Price</td>

    </tr>
    @if (Model.DateCreation.HasValue)
    {
        <tr>
            <td>Birthdate:</td>
            <td>@Model.DateCreation.Value.ToShortDateString()</td>

        </tr>
    }

</table>
