@model IEnumerable<BikeShop.Models.Product>

@{
    ViewBag.Title = "Bikes";
}

<h2>All our bikes</h2>

<br />

@if (!Model.Any())
{
    <p>The database is Empty. You should create a new product</p>
    <p>@Html.ActionLink("Add new Product", "New", "Products", null, new { @class = "btn btn-default btn-block" })</p>
}
else
{
    <p>@Html.ActionLink("Add new Product", "New", "Products", null, new { @class = "btn btn-default btn-block" })</p>

    <br>

    using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <p style="text-align: right">
            Find Product by Name: @Html.TextBox("searchString")
            <input type="submit" value="Search for Products" />
        </p>
    }
    @*<table class="table table-bordered table-hover sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">Product</th>
                <th>Category</th>
                <th data-defaultsort="disabled">Details</th>
            </tr>
        </thead>
        <tbody>*@

    <hr />
    <div class="clearfix">
        @foreach (var product in Model)
        {
        string imgSrc = null;

        if (product.Image != null)
        {
        var base64 = Convert.ToBase64String(product.Image);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }

        <div class="thumb">
            <a href="@Url.Action("Details", "Products", new { id = product.ProductID })"><img src="@imgSrc" /></a><br>
            <span class="title">@product.ProductName</span><br>
            @product.Price.ToString("c")<br>
            @Html.ActionLink("Edit", "Edit", "Products", new { id = product.ProductID }, null) | @Html.ActionLink("Delete", "Delete", "Products", new { id = product.ProductID }, null)

            @*<td>
            @Html.ActionLink("Details", "Details", "Products", new { id = product.ProductID }, null) |
            @Html.ActionLink("Edit", "Edit", "Products", new { id = product.ProductID }, null) |
            @Html.ActionLink("Delete", "Delete", "Products", new { id = product.ProductID }, null)
        </td>*@

        </div>
        }

    </div>
    @*</tbody>
        </table>*@

}



