
@model IEnumerable<BikeShop.Models.Service>

@{
    ViewBag.Title = "Services";
}

<h2>All our services</h2>

<br />

@if (!Model.Any())
{
    <p>The database is Empty. You should create a new service</p>
    <p>@Html.ActionLink("Add new Service", "New", "Services", null, new { @class = "btn btn-default btn-block" })</p>
}
else
{
    <p>@Html.ActionLink("Add new Service", "New", "Services", null, new { @class = "btn btn-default btn-block" })</p>

    <br>

    using (Html.BeginForm("Index", "Services", FormMethod.Get))
    {
        <p style="text-align: right">
            Find Service by Name: @Html.TextBox("searchString")
            <input type="submit" value="Search for Services" />
        </p>
    }
    @*<table class="table table-bordered table-hover sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">Service</th>
                <th>Service Type</th>
                <th data-defaultsort="disabled">Details</th>
            </tr>
        </thead>
        <tbody>*@

    <hr />
    <div class="clearfix">
        @foreach (var service in Model)
        {
            string imgSrc = null;

            if (service.Image != null)
            {
                var base64 = Convert.ToBase64String(service.Image);
                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }

        <div class="thumb">
            <a href="@Url.Action("Details", "Services", new { id = service.ServiceID })"><img src="@imgSrc" /></a><br>
            <span class="title">@service.ServiceName</span><br>
            @service.Price.ToString("c")<br>
            @Html.ActionLink("Edit", "Edit", "Services", new { id = service.ServiceID }, null) | @Html.ActionLink("Delete", "Delete", "Services", new { id = service.ServiceID }, null)

            @*<td>
            @Html.ActionLink("Details", "Details", "Services", new { id = service.ServiceID }, null) |
            @Html.ActionLink("Edit", "Edit", "Services", new { id = service.ServiceID }, null) |
            @Html.ActionLink("Delete", "Delete", "Services", new { id = service.ServiceID }, null)
        </td>*@

        </div>
        }

    </div>
    @*</tbody>
        </table>*@

}



